{{  define "header" }}

<h1 style="color:blue;">Nav Bar</h1>
  You must be signed in to access the following pages<br /> 
  <a href="/Protected/assets/">assets</a><br /> 
  <a href="/Protected/MPL/">MPL</a><br /> 
  <a href="/Protected/KeywordSearch/">Keyword Search</a><br /> 
  <a href="/Protected/TagLookup/">Tag Lookup</a><br /> 
  <a href="/Protected/PartEdit/">Part Edit</a><br /> 

{{ end }}